extends layout

block content
    h1 Welcome #{username}
    div(class="container")
        label(for="yt-search-field" class="sr-only") YouTube Search
        input(type="text" id="yt-search-field" class="form-control" placeholder="cat videos")
        button(class="btn btn-lg btn-primary btn-block" id="yt-search-btn") Search
    div(class="container")
        div(class="searchResults")
            ul
                if searchResults != undefined
                    for data in searchResults
                        li=data.snippet.title
                else
                    li You didn't search anything
