.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 10px;

}

.host-input{
    grid-column-start: 1;
    grid-column-end: 2;
}

.user-input{
    grid-column-start: 2;
    grid-column-end: 3;
}
